.faq_title {
  text-align: center;
}

.faq_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

.faq_privacy-wrapper {
  margin-top: 4rem;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.faq_privacy {
  padding-right: 0%;
  width: 50%;
}

.faq_privacy-text {
  margin: 0;
  margin-bottom: 1rem;

  font-size: 0.9rem;
}

.faq a {
  color: inherit;
}

@media (max-width: 768px) {
  .faq_items {
    display: block;
    padding-right: 0;
    text-align: left;
  }
  .faq_items-item {
    margin-bottom: 1rem;
  }

  .faq_privacy-text {
    font-size: 0.8rem;
  }
}
